<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
		</div>
		<form action="{% url 'propietario' propieta_val %}?predio={{ predio }}" method="POST">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					{% for form in forms %}
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ form.label }}</label>
								{{ form }}
							</div>
						</div>
					{% endfor %}
				</div>
				<p class="text-danger">Los campos con (*) son obligatorios</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input type="submit" value="Guardar" class="btn btn-success"/>
			</div>
		</form>
	</div>
</div>

<script>
	$("form").submit(function(event){
		event.preventDefault();
		var formData = new FormData(this);
		$.ajax({
			url: $(this).attr('action'),
			type: $(this).attr('method'),
			dataType: "json",
			data: formData,
			cache: false,
			contentType: false,
			processData: false,
			success: function(data){
				$('.'+data.pk).remove();
				$('.table-propieta tbody').append(
					"<tr class='pro-"+data.pk+"'>"+
						"<td>"+data.id_propieta+"</td>"+
						"<td>"+data.name+"</td>"+
						"<td>"+data.direction+"</td>"+
						"<td>"+data.tel+"</td>"+
						"<td>"+data.email+"</td>"+
						"<td class='action-"+data.pk+"'></td>"+
					"</tr>"
				);
				if(data.type == "sold"){
					$('.action-'+data.pk).append("{% if user.is_superuser %}<a href='/Predios/Venta/Eliminar-propietario/"+data.predio+"/"+data.pk+"/' class='btn btn-danger delete'>Eliminar</a>{% endif %}");
				}else{
					$('.action-'+data.pk).append("{% if user.is_superuser %}<a href='/Propietarios/Eliminar/"+data.pk+"' class='btn btn-danger delete'>Eliminar</a>{% endif %}"+
						"<a href='/Propietarios/Nuevo//"+data.pk+"' class='btn btn-default open-modal'>Editar</a>");
				}
				$('#Modal').modal('hide');
				$('#Modal-second').modal('hide');
			}
		});
	});
</script>